body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

input[type="button"], button {
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ff8800 0%,
		#ffb45e 60%,
		#ff8800);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff8800),
		color-stop(0.60, #ffb45e),
		to(#ff8800));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ff7300;
	-moz-box-shadow:
		0px 1px 3px rgba(046,021,021,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(046,021,021,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(046,021,021,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(003,003,003,0.3);
}


#page
{
	margin-bottom: 5px;
	background: white;
	border: none;
}

#header
{
	padding: 0;
	border-top: none;
    height:100px;
    padding-top:25px;
}

#content
{
  float: left;
  clear: right;
  width: 658px;
  margin-left: 282px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: none;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
    height: 25px;
    border-radius: 5px;
    background: -webkit-gradient(linear,center top,center bottom,from(#9ecfdb), to(#94b7c4));
    font-size: 12px;
    box-shadow: 2px 2px 2px #EFEFEF;
    -webkit-box-shadow: 1px 2px 2px #EFEFEF;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
    width: 960px;
    margin: 0 auto;
}

#mainmenu ul li
{
	display: block;
    float:left;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:none;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#left-sidebar {
  width: 250px;
  float: left;
  position: fixed;
  margin-left: 15px;
}

.loginform-input {
  float:right;
  margin-right: 10px;
}

.loginform-submit {
  margin-right: 20px;
  width: 50px;
}

span.star {
  width: 65px;
  height: 12px;
  background: url("../images/sprites.png") no-repeat 0 -40px;
  vertical-align: text-top;
  display: inline-block;
}

span.star .star-5-5 {
  background-position: 0px -55px;
}

.symbol-rmb {
  font-size: 12px;
}

.symbol-rmb:before {
  content: "\00a5";
  margin-left: 15px;
  line-height: inherit;
}

#content #index-main-block .food-items {
  margin: 0 auto;
  width: 650px;
}

#index-main-block .food-items .item {
  float:left;
  margin: 5px 10px;
  position: relative;
  width:190px;
}

#index-main-block .food-items .item .detail-order-select {
  position: absolute;
  z-index: 10000;
}

.block {
  margin-bottom: 20px;
}

.block .title {
  border-radius: 5px;
  background: -webkit-gradient(linear,center top,center bottom,from(#9ecfdb), to(#94b7c4));
  font-size: 12px;
  box-shadow: 2px 2px 2px #EFEFEF;
  -webkit-box-shadow: 1px 2px 2px #EFEFEF;
}

.block .content {
  padding-top: 20px;
  border: 1px solid #EFEFEF;
  border-top: none;
  margin-top: -2px;
  padding-bottom: 20px;
}

.block #loginForm label {
  margin-left:5px;
}

.block .title h3 {
  display: block;
  height: 30px;
  width: 200px;
  margin: 0 auto;
  line-height: 30px;
  vertical-align: text-bottom;
  font-size:14px;
  font-weight: bold;
  color: #EFEFEF;
}

.food-items .item h3, .block .item h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  color: #ff7f00;
  margin: 5px 2px;
  overflow:hidden;
}

.food-items .item .star-price, .block .item star-price {
  margin: 5px 2px;
  overflow: hidden;
}

.food-items .item input, .block .item input {
  display: block;
}

#index-main-block.block {
  position: relative;
}

#index-main-block.block > .title {
  height: 30px;
  width: 658px;
  position: fixed;
  margin-top:-2px;
  z-index: 10000;
}

#index-main-block.block > .title .filter {
  position: relative;
}

#index-main-block.block > .title .filter > input[type="button"] {
  position: absolute;
  left: 92%;
  top: -27px;
}

#index-main-block.block > .title .filter > form{
  background-color: #94b7c4;
  margin-top: 3px;
  position: absolute;
  width: 100%;
  display: none;
}

#index-main-block.block > .title h3{
  width: 600px;
}

#adress-main-block.block > .content {
  margin-top: 0;
  padding-top: 30px;
  height: 327px;
  padding-bottom: 0px;
}

#adress-main-block.block {
  position: relative;
}

#adress-main-block.block > .title {
  height: 30px;
  width: 658px;
  position: fixed;
  margin-top:-2px;
}

#adress-main-block.block > .title h3{
  width: 600px;
}

#adress-main-block .address-next-link-con {
  position: relative;
}

#adress-main-block .address-next-link-con a{
  left: 89%;
  top: -24px;
  position: absolute;
  text-decoration: none;
  color: #ff8822;
  font-weight: bold;
  font-size: 15px;
}

#block_custom_order .order-items {
    max-height:180px;
    overflow: auto;
}

#confirm-main-block .order-items .item {
  clear:both;
}

#confirm-main-block .order-items .item  span{
  display: inline-block;
}

#confirm-main-block .order-items .item  span.food{
  width:450px;
}

#confirm-main-block .order-items .item  span.operate{
  float:right;
}

#fixed-top {
  position: fixed;
  background:#fff;
  width:960px;
  z-index: 20;
}

.address-address {
  width: 300px;
}

#main {
  padding-top: 152px;
}

#detail-buy-container {
    top: 30px;
    position: absolute;
    z-index: 1000;
    right: 0px;
    width: 500px;
    background-color: rgb(255, 255, 255);
}

.order-status {
    height: 300px;
}